<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-['helvetica_now_display']">
    <nav class="w-full flex justify-between items-center  text-white fixed top-0 left-0 px-5 py-3 shadow-lg">
        <h3 class="text-xl font-bold">Scatch</h3>
        <div class="flex gap-5">
          <a href="/shop" class="text-xl hover:text-gray-400 transition duration-300">Home</a>
          <a href="/owners" class="text-xl hover:text-gray-400 transition duration-300">Admin Page</a>
          <a href="/users/account" class="text-xl hover:text-gray-400 transition duration-300">Account</a>
          <a href="/logout" class="text-xl hover:text-gray-400 transition duration-300">Logout</a>
        </div>
      </nav>
      